*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #064663;
  font-family: "Ramabhadra", sans-serif;
}

@media only screen and (max-width: 500px) {
  body {
    background-color: #ffffff;
  }
}
